@import "~bootstrap/scss/bootstrap.scss";

.container{
    width: 500px;
    margin-top: 10px;
}
h1 {text-align: center;
}
/*.button {
    display: none;
    width: 10px;
    margin: 0;
}

li:hover + .button, .button:hover {
    display: flex;
}

.hide {
  display:none;
}*/
.divlista:hover + .hide  {
  display: flex;
  background-color: red;
}
    

