@import "~bootstrap/scss/bootstrap.scss";

.container{
    width: 500px;
    margin-top: 10px;
}
h1 {text-align: center;
}


i {
display: none;
width: 10px;
margin: 0;
float: right;
}

.hide{
display: none;
}
